<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="console" xsi:type="ColoredConsole"
            layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message} ${exception:format=tostring}"
            useDefaultRowHighlightingRules="true" />
    <target name="file" xsi:type="File"
            layout="${shortdate} ;${time} ;${uppercase:${level}} ;${logger} ;${message} ;${exception:format=tostring}"
            fileName="${basedir}\Log\${shortdate}.log"
            keepFileOpen="false"
            encoding="iso-8859-2" />

  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>